html {
  --margin: 8px;
}

body {
  text-align: center;
  margin: var(--margin);
  margin-bottom: 115px;
}

#info {
  position: fixed;
  bottom: var(--margin);
  left: var(--margin);
  right: var(--margin);
  border-radius: 4px;
  max-width: 900px;
  margin: auto;
  text-align: left;
  padding: 16px;
}

@media (min-width: 600px) and (orientation: portrait) {
  html {
    --margin: 12px;
  }
}

@media (min-width: 840px) and (orientation: portrait), (min-width: 916px) {
  html {
    --margin: 32px;
    max-width: 1224px;
    margin: auto;
  }
}
