body {
  text-align: center;
  margin: 8px;
}

a {
  text-decoration-line: none;
}

#decimal-places :nth-child(8n)::after {
  content: " ";
}

@media (min-width: 600px) and (orientation: portrait) {
  body {
    margin: 12px;
  }
}

@media (min-width: 840px) and (orientation: portrait), (min-width: 916px) {
  html {
    max-width: 1224px;
    margin: auto;
  }

  body {
    margin: 32px;
  }
}
